.vs/*
*.user
!*Dashboard.UsersAndRoles.User
*.log
*.orig
*.suo
*.g.cs
*.yml
!.gitlab-ci.yml
*.jfm
*.dbmdl
bin/*
Bin/*
artifacts/*
Source/.vs/*
Source/**/bin/
Source/**/Bin/
Source/**/obj/
Source/**/Logs/
Source/**/StyleCop.Cache
Source/packages/*
node_modules
Source/Dashboard/Dashboard/wwwroot/app/components/*Component
